// Estilos para el footer  
footer {  
    background-color: #2d323b;  
    color: #fff;  
    padding: 20px;  
  
   }
   footer p {  
    margin: 10px;  
  }  
  
  footer a {  
    color: #fff;  
    text-decoration: none;  
    margin: 10px;  
  }  